{erl_opts, [debug_info]}.
{deps, [
{p1_mysql, "1.0.1"},
{lager, "3.2.1"},
{jiffy, ".*",{git,"https://github.com/davisp/jiffy.git",{branch, master}}}
]}.
{relx, [{release, {zentrading,"0.1.0"},
         [zentrading]},
%%{include_erts, "/Users/wenewzhang/Documents/dev/erlang-fb-19"},
%%{system_libs, "/Users/wenewzhang/Documents/dev/erlang-fb-19"},
	{vm_args, "config/vm.args"},
	{sys_config, "config/sys.config"},
	{dev_mode, true},
        {extended_start_script, true}
       ]
}.

{profiles, [
           {prod, [{relx, [{dev_mode,false}
					 ]}]},
           {dbg, [{relx, [{dev_mode, true},
                           {include_erts, true}]}]}
           ]
}.
